* {
  padding: 0;
  margin: 0; }

#contacto main .form-control {
  display: block;
  width: 400px;
  height: 20px; }

#contacto main #floatingTextarea {
  border-radius: 10px;
  height: 100px;
  width: 500px; }

#contacto main #emailHelp {
  color: white; }

#contacto main #form1 {
  padding: 10px;
  width: 550px; }

#contacto main #form2 {
  color: black;
  margin: 1rem;
  height: 30px; }

#contacto main .contacto {
  display: flex;
  justify-content: space-evenly; }

#contacto main .h1 {
  font-size: 2.5rem;
  border-bottom: solid 5px black;
  display: flex; }

#contacto main .boton {
  margin-top: 3.5rem; }

#indes main .barra {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid black;
  justify-content: space-evenly; }

#indes main .menu2 {
  text-decoration: none;
  border-radius: 15px;
  margin: 5px;
  padding: 1rem;
  color: black; }
  #indes main .menu2hover {
    background-color: black;
    transition: 0.3s;
    color: white; }

#indes main .listado1 {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-between; }

#indes main .jordan {
  border: 1px solid white;
  max-width: 250px; }

#indes main .precio {
  border: solid 1px black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#indes main .valor {
  display: flex;
  margin: 10px;
  display: flex;
  justify-content: space-between; }
  #indes main .valorhover {
    background-color: black;
    transition: 0.3s;
    color: white; }

#mi-trabajo main {
  /* css de biografia */ }
  #mi-trabajo main .headerMitrabajo {
    display: flex;
    flex-direction: row;
    grid-area: header;
    background-color: #1e7cb5; }
  #mi-trabajo main .imagenes {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    border: solid 3px black;
    max-width: 700px;
    max-height: 469px; }
  #mi-trabajo main .video {
    padding: 5px;
    margin: 5px;
    border-radius: 30px;
    width: 560px;
    height: 355px; }
  #mi-trabajo main #accordionExample {
    width: 500px; }
  #mi-trabajo main .biografia {
    font-size: 2.5rem;
    border-bottom: solid 5px black;
    display: flex;
    color: white; }
  #mi-trabajo main #acordionBio {
    width: 300px; }

#biografia main .biografia {
  font-size: 2.5rem;
  border-bottom: solid 5px black;
  display: flex;
  color: white; }

#biografia main #acordionBio {
  width: 300px; }

.grilla {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav nav" "header header header header" "header header header header" "header header header header" "footer footer footer footer"; }

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(0deg, #1e7cb5 33%, #0a1c26 100%); }

.link {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 2rem; }
  .link i {
    color: white; }

.menu {
  text-decoration: none;
  border-radius: 15px;
  margin: 5px;
  padding: 1rem;
  color: white; }
  .menuhover {
    background-color: white;
    transition: 0.3s;
    color: black; }

.footer {
  display: flex;
  align-items: center;
  grid-area: footer;
  background-color: #121315;
  font-size: 16px;
  padding: 1rem 1rem; }
  .footer i {
    padding: 5px;
    font-size: 3rem;
    color: white; }

.row.primario {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch; }

.column {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
  color: white; }

h3 {
  text-align: left;
  font-size: 1.4em;
  white-space: nowrap; }

ul {
  list-style: none; }

input {
  font-size: 1em;
  padding: 1em;
  border-radius: 50px;
  margin-bottom: 5px; }

button {
  border-radius: 50px;
  height: 55px;
  width: 130px;
  background-color: #1884a5;
  color: #ffffff; }

div.redes {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em; }
  div.redes i {
    color: #bac6d9; }

.copyright {
  padding: 0.3em 1em;
  background-color: #25262e; }
  .copyright p {
    font-size: 0.9em;
    text-align: right; }
