* {
    padding: 0;
    margin: 0;
}

.grilla {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav"
        "header header header header"
        "header header header header"
        "header header header header"
        "footer footer footer footer";
}


.nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(30, 124, 181, 1) 33%, rgba(10, 28, 38, 1) 100%);
}

.link {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-top: 2rem;
}

.link i {
    color: white;
}

.menu {
    text-decoration: none;
    border-radius: 15px;
    margin: 5px;
    padding: 1rem;
    color: white;
}

.menu:hover {
    background-color: white;
    transition: 0.3s;
    color: black;
}

.img {
    border: solid 1px black;
    max-width: 200px;
    margin: 10px;
    border-radius: 100px;
}

.header {
    grid-area: header;
    background-color: #1e7cb5;
}

/* css del footer */

.footer {
    display: flex;
    align-items: center;
    grid-area: footer;
    background-color: #121315;
    font-size: 16px;
    padding: 1rem 1rem;
}

.footer i {
    padding: 5px;
    font-size: 3rem;
    color: white;
}


.row.primario {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
    color: white;
}

h3 {
    text-align: left;
    font-size: 1.4em;
    white-space: nowrap;
}

ul {
    list-style: none;
}

input {
    font-size: 1em;
    padding: 1em;
    border-radius: 50px;
    margin-bottom: 5px;
}

button {
    border-radius: 50px;
    height: 55px;
    width: 130px;
    background-color: #1884a5;
    color: #ffffff;
}

div.redes {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

.redes i {
    color: #bac6d9;
}

.copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
}

.copyright p {
    font-size: 0.9em;
    text-align: right;
}

/* css del index */

.barra {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid black;
    justify-content: space-evenly;

}

.menu2 {

    text-decoration: none;
    border-radius: 15px;
    margin: 5px;
    padding: 1rem;
    color: black;
}

.menu2:hover {
    background-color: black;
    transition: 0.3s;
    color: white;
}

.listado1 {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between
}

.jordan {
    border: 1px solid white;
    max-width: 250px;
}

.precio {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fa-solid {
    margin-left: 5px;
}

#caja-talles {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
}

#caja-talles:hover {

    background-color: black;
    color: white;
    transition: 0.3s;
}

.valor {
    border-radius: 15px;
    border: none;
    background-color: white;
    color: black;
}

.valor:hover {
    background-color: black;
    transition: 0.3s;
    color: white;
}

/* css de contacto */
#exampleFormControlInput1 {
    display: block;
    width: 400px;
    height: 50px;
}

#exampleFormControlInput2 {
    display: block;
    width: 400px;
    height: 50px;
}

#textArea {
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

#row {
    justify-content: space-evenly;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.maps {
    margin-left: 10rem;
    border: solid 5px black;
}


.contacto {
    display: flex;
    justify-content: space-evenly;
}

.h1 {
    font-size: 2.5rem;
    border-bottom: solid 5px black;
    display: flex;

}


/* css de mi trabajo */
.headerMitrabajo {
    display: flex;
    flex-direction: row;
    grid-area: header;
    background-color: #1e7cb5;
}

.imagenes {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    border: solid 3px black;
    max-width: 700px;
    max-height: 469px;
}

.video {
    padding: 5px;
    margin: 5px;
    border-radius: 30px;
    width: 560px;
    height: 355px;
}

#accordionExample {
    width: 500px;
}

/* css de biografia */
.biografia {
    font-size: 2.5rem;
    border-bottom: solid 5px black;
    display: flex;
    color: white;
}

#acordionBio {
    width: 300px;
}

/* MEDIA */
@media (max-width:320px) {
    .grilla {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "header header header header"
            "header header header header"
            "footer footer footer footer";
    }

    div .nav {
        display: inline-block;
    }

    .barra {
        display: flex;
        flex-direction: column;
    }

    .listado1 {
        display: inline-block;
    }

    .link {
        display: inline-block;
    }

    .precio {
        display: flex;
        flex-direction: column;
    }

    .footer {
        display: inline-block;

    }

    .column.subscribe {
        display: none;
    }

    .column.links {
        display: none;
    }
}

@media (max-width:380px) {
    .grilla {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "header header header header"
            "header header header header"
            "footer footer footer footer";
    }

    div .nav {
        display: inline-block;
    }

    .barra {
        display: flex;
        flex-direction: column;
    }

    .listado1 {
        display: inline-block;
    }

    .link {
        display: inline-block;
    }

    .precio {
        display: flex;
        flex-direction: column;
    }

    .listado1 {
        display: inline-block;
    }

    .footer {
        display: inline-block;

    }

    .column.subscribe {
        display: none;
    }

    .column.links {
        display: none;
    }
}

@media (max-width:430px) {
    .grilla {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "header header header header"
            "header header header header"
            "footer footer footer footer";
    }

    div .nav {
        display: inline-block;
    }

    .barra {
        display: flex;
        flex-direction: column;
    }

    .listado1 {
        display: inline-block;
    }

    .link {
        display: inline-block;
    }

    .precio {
        display: flex;
        flex-direction: column;
    }

    .listado1 {
        display: inline-block;
    }

    .footer {
        display: inline-block;

    }

    .column.subscribe {
        display: none;
    }

    .column.links {
        display: none;
    }
}

@media(max-width:768px) {
    .grilla {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "header header header header"
            "header header header header"
            "footer footer footer footer";
    }

    .listado1 {
        display: inline-block;
    }

    .column.subscribe {
        display: none;
    }
}


@media(max-width:1024px) {
    .grilla {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "nav nav nav nav"
            "header header header header"
            "header header header header"
            "header header header header"
            "footer footer footer footer";
    }

    .listado1 {
        display: inline-block;
    }

}

