#biografia {
    main {
        .biografia {
            font-size: 2.5rem;
            border-bottom: solid 5px black;
            display: flex;
            color: white;
        }

        #accordionBio {
            width: 150px;
        }
    }
}